body {
	background: black;
}

* {

	outline: 1px dashed white; 
}

/* Class for universal padding' */

#character {
	width: 100px;
	height: 100px;
	position: fixed;
	top:380px;
	left: 87.5px;
}

/* this is styling for a jQuery test */

.myClass {
	background-color: #36819e;
	font-size: 100px;
}

#canvas {
	width: 2250px;
	height: 667px;
	position: relative;
	min-width: 375px;
}

#gift {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 360px;
	right: 0px;
}


