body {
	background: black;
	width: 100000px;
}


#canvas:active { 
    background-color: red;
}

* {

	outline: 1px dashed white; 
}

/* Class for universal padding' */

#canvas {
	height: 600px;
	background-color: white;
}

#character {
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 100px;
	right: 50%;
}